.container {
  @apply
    max-w-screen-lg 
    mx-auto;
}

.mainContent {
  @apply flex flex-col gap-6;
}

.infoWrapper {
  @apply
    grid 
    grid-cols-1 
    md:grid-cols-7 
    md:gap-10 
    mt-6;
}

.reservationWrapper {
  @apply
    order-first 
    mb-10 
    md:order-last 
    md:col-span-3;
} 