.overlay {
  @apply
    fixed 
    inset-0 
    bg-neutral-800/70 
    z-50;
}

.container {
  @apply
    fixed
    inset-0
    z-50
    flex
    items-center
    justify-center
    overflow-y-auto
    overflow-x-hidden
    outline-none
    focus:outline-none
    bg-neutral-800/70;
}

.content {
  @apply
    relative 
    w-full
    md:w-4/6
    lg:w-3/6
    xl:w-2/5
    my-6
    mx-auto 
    h-full
    lg:h-auto
    md:h-auto;
}

.show {
  @apply
    translate-y-0
    opacity-100;
}

.hide {
  @apply
    translate-y-full
    opacity-0;
}

.header {
  @apply
    relative 
    flex 
    items-center 
    justify-center
    rounded-t
    border-b-[1px]
    p-6;
}

.closeButton {
  @apply
    absolute
    left-9
    p-1
    border-0 
    hover:opacity-70
    transition;
}

.title {
  @apply text-lg font-semibold;
}

.body {
  @apply relative p-6 flex-auto;
}

.footer {
  @apply flex flex-col gap-2 p-6;
}

.buttonContainer {
  @apply
    flex 
    flex-row 
    items-center 
    gap-4 
    w-full;
} 